<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – KiddiKids</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Временно</a>
                @*@Html.ActionLink("Стартовая", "Index", "Page", new { area = "" }, new { @class = "navbar-brand" })*@

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>
            @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" })
        </li>
        <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
        <li>@Html.ActionLink("О программе", "About", "Home")</li>
        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
        <li>@Html.ActionLink("Блог", "", "")</li>*@

                    @*<li><a href="/Home/Index">Имя приложения</a></li>
        <li><a href="/Home/About">О программе</a></li>
        <li><a href="/Home/Contact">Контакт</a></li>
        <li><a href="/">Блог</a></li>*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" href=""><span class="nav-label">Товары</span> <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>@Html.Action("CategoryMenuPartial", "Buy");</li>


                            @*<li>@Html.Action("PageMenuPatial", "Page");</li>*@
                        </ul>

                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="nav-label">Блог</span> <span class="caret"></span></a>

                        <ul class="dropdown-menu">

                            <li>@Html.Action("PageMenuPatial", "Page");</li>
                        </ul>

                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="/account/logout" class="dropdown-toggle">Выйти</a>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <span><a href="/account/enter" class="dropdown-toggle">Вoйти</a></span>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("User"))
                    {
                        <li class="dropdown">@Html.Action("UserInfoPartial", "Account", new { area = "" })</li>
                    }




                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li>
            @Html.ActionLink("Страницы", "Index", "autoadmin/AdminPages", new { area = "" }, new { @class = "navbar-brand" })
        </li>*@
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                    <li><a href="/autoadmin" class="navbar-brand" target="_blank">В админку</a></li>
                    }
                    <li>@Html.Action("OrderCartPartial", "OrderCart", new { @class = "navbar-brand" })</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="sessionBlock">


                            <div class="sessionName">
                                @*<span>@Html.Action("UserInfoPartial", "Account", new { area = "" })</span>*@
                                <span><a href="/account/logout">Выйти</a></span>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="sessionBlock">


                            <div class="sessionName">
                               <span><a href="/account/enter">Вoйти</a></span>
                            </div>
                        </li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li class="sessionBlock">
                            <div class="sessionName">
                                <a href="/account/your-account">@Html.Action("UserInfoPartial", "Account", new { area = "" })</a>
                            </div>
                        </li>
                    }

                    @*@*<li class="sessionBlock">
                        <span><a href="/account/logout">Выйти</a></span>
                    </li>*@
                </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    @Html.Action("CategoryMenuPartial", "Buy");

                </div>
                @if (ViewBag.SideBar == "YES")
                {
                    <div class="col-xs-12 col-md-7 maincontent">
                        @RenderBody()
                    </div>
                    <div class="col-xs-12 col-md-3 sidebar">
                        @Html.Action("SidebarPartial", "Page");
                    </div>

                }
                else
                {

                    <div class="col-xs-12 col-md-10">
                        @RenderBody()
                    </div>

                }
            </div>

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year – Ваш магазин</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/scripts")
        @*@Scripts.Render("~/bundles/bootstrap")*@
                            @RenderSection("scripts", required: false)
</body>
</html>
